### 1. Andmeframe'i loomine ja esmane uurimine

abiks on ka dokumentatsioon: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html
#### Ülesanne:
Loo andmeframe, mis sisaldab järgmisi andmeid:

Veerud: Nimi, Vanus, Sugu, Palk.

|    | Nimi    | Vanus | Sugu |   Palk  |
|----|---------|-------|------|---------|
|  0 | Alice   | 25    | N    |  5000   |
|  1 | Bob     | NaN   | M    |  5500   |
|  2 | Charlie | 35    | NaN  |  6000   |
|  3 | Diana   | 28    | N    |   NaN   |
|  4 | Eve     | 45    | N    |  7500   |
|  5 | Frank   | 50    | M    |   NaN   |
|  6 | Grace   | NaN   | N    |  7000   |
|  7 | Hannah  | 38    | N    |  6200   |
|  8 | Jack    | 40    | M    |   NaN   |
|  9 | Karen   | NaN   | N    |  8000   |
| 10 | Leo     | 30    | M    |  6700   |
| 11 | Mona    | 29    | N    |  7100   |
| 12 | Steve   | NaN   | M    |  5200   |
| 13 | Tina    | 32    | N    |   NaN   |
| 14 | Victor  | 55    | M    |  8200   |

#### Prindi:

Esimesed kaks rida andmeframe'ist.

Kõik veerunimed.

Statistiline kokkuvõte numbriliste andmete kohta.

### 2. Filtreerimine ja andmete valimine
#### Ülesanne:
Filtreeri kõik töötajad, kelle palk on suurem kui 5200.

Leia kõigi naistöötajate (Sugu == "N") keskmine palk.

Lisa uus veerg Vanuserühm, kus:

    Kui Vanus < 30, väärtus on "Noored".
    Kui Vanus >= 30, väärtus on "Täiskasvanud".

### 3. Gruppeerimine ja kokkuvõtete tegemine
#### Ülesanne:
   Grupperi töötajad soo järgi ja arvuta keskmine palk iga soo kohta.
   
   Leia maksimaalne palk igas vanuserühmas.

### 4. Andmete muutmine ja veergude haldamine
#### Ülesanne:
Eemalda veerg Vanuserühm.

Lisa uus veerg Boonus, mis on 10% palgast.

Sorteeri andmeframe palga järgi kahanevas järjekorras

### 5. Tühjade väärtuste käsitlemine
#### Ülesanne:
Leia, millised read sisaldavad tühje väärtusi.

Täida tühjad Palk väärtused keskmise palgaga.

Eemalda read, kus veerus Sugu on tühjad väärtused.

### 6. Andmete salvestamine ja laadimine
#### Ülesanne:
Salvesta andmeframe CSV-faili nimega andmed.csv.

Laadi sama fail tagasi uude andmeframe'i ja prindi selle sisu.

### Kirjuta iga punkti lahenduse ümber funktsioonina. Salvesta iga funktsioon eraldi failina ning loe sisse main.py failis.
Lisa Bitbucketis omanimeline kaust koos märksõnaga 'pandas' (näiteks erika_lorents_pandas) ning lae oma funktsioonid sinna üles. Seejärel koosta pull request, et üks gruppikaaslastest vaataks su koodi üle ja kinnitaks selle (approve).